<div class="container">
  <div class="row">
    <h2>ノートを編集する</h2>
    <%= form_for (@note) do |f| %>
    <div class="form-group">
      <%= f.label :tile, 'タイトル' %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :name, '筋肉名' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :origin, '起始' %>
      <%= f.text_field :origin, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :insertion, '停止' %>
      <%= f.text_field :insertion, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :innervation, '支配神経' %>
      <%= f.text_field :innervation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :action, '作用' %>
      <%= f.text_field :action, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, '内容' %>
      <%= f.text_area :body, 'data-provider': :summernote %>
    </div>
    <%= f.submit '変更する', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
