<div class="container">
  <div class="row">
    <div>
      <%= link_to "<<戻る", :back %>
    </div>
    <div class="text-right">
      <%= form_tag(search_notes_path, :method => 'get' ) do %>
      <%= text_field_tag :search, '', placeholder: "筋肉名を入力" %>
      <%= submit_tag '検索する', :name => nil, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="heading-title text-center">
      <h2 class="heading-style">ノート一覧</h2>
      <h3>Note List</h3>
    </div>
  </div>
  <% if @notes.empty? %>
    <h3>条件に合うノートが見つかりませんでした</h3>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>ノート名</th>
        <th>筋肉名</th>
        <th>作成者</th>
        <th>作成日時</th>
      </tr>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note_path(note.id) %></td>
        <td><%= note.name %></td>
        <td><%= note.user.name %></td>
        <td><%= l note.created_at, format: :short %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
