<div class="container">
 <div>
  <%= link_to "<<戻る", :back %>
 </div>
 <div class="row row-contents-margin-bottom">
  <div class="col-xs-offset-1 col-xs-10">
    <h2><%= @note.title %></h2>
   <%= l @note.created_at, format: :short %>
   <span id="likes_buttons_<%= @note.id %>">
     <%= render partial: 'likes/like', locals: {note: @note} %>
   </span>
   <% if current_user.id == @user.id %>
   <div class="text-right">
     <%= link_to "編集する", edit_note_path(@note.id), class: "btn btn-success" %>
   <%= link_to "削除する", note_path(@note.id), method: :delete, data:{ confirm: "このノートを削除しますか？"}, class: "btn btn-danger" %>
   </div>
   <% end %>
   <tr>
     <td>
       <h3>ノート内容</h3>
     </td>
     <td><%= @note.body.html_safe %></td>
   </tr>
  </div>
 </div>
</div>
