<div class="container">
  <div class="row">
    <div>
      <%= link_to "←戻る", :back, class: "btn btn-success" %>
    </div>
    <div class="col-12">
      <h2><%= @note.title %></h2>
      <%= l @note.created_at, format: :short %>
      <span id="likes_buttons_<%= @note.id %>">
        <%= render partial: 'likes/like', locals: {note: @note} %>
      </span>
      <table class="table notes-show-table">
        <tbody>
          <tr>
            <td>筋肉名</td>
            <td><%= @note.name %></td>
          </tr>
          <tr>
            <td>起始</td>
            <td><%= @note.origin %></td>
          </tr>
          <tr>
            <td>停止</td>
            <td><%= @note.insertion %></td>
          </tr>
          <tr>
            <td>支配神経</td>
            <td><%= @note.innervation %></td>
          </tr>
          <tr>
            <td>作用</td>
            <td><%= @note.action %></td>
          </tr>
          <tr>
            <td>追加情報</td>
            <td><%= @note.body.html_safe %></td>
          </tr>
        </tbody>
      </table>
      <% if current_user.id == @user.id %>
      <%= link_to "編集する", edit_note_path(@note.id), class: "btn btn-success" %>
      <%= link_to "削除する", note_path(@note.id), method: :delete, data:{confirm: "このノートを削除しますか？"}, class: "btn btn-danger" %>
      <% end %>
    </div>
    </div>
</div>
