<div class="container">
  <%= link_to "<<戻る", :back %>
  <h1>筋肉一覧</h1>
  <div class="new-muscle-btn text-right">
    <%= link_to "筋肉を追加する", new_admin_muscle_path, class: "btn btn-success" %>
  </div>
  <table class="table muscle-index-table">
    <thead>
      <tr>
        <th>筋肉名</th>
        <th>起始</th>
        <th>停止</th>
        <th>支配神経</th>
        <th>作用</th>
        <th>部位</th>
      </tr>
    </thead>
    <tbody>
      <% @muscles.each do |muscle| %>
      <tr>
        <td><%= link_to muscle.name, admin_muscle_path(muscle.id) %></td>
        <td><%= muscle.origin %></td>
        <td><%= muscle.insertion %></td>
        <td><%= muscle.innervation %></td>
        <td><%= muscle.action %></td>
        <td><%= muscle.genre.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate-area text-center">
    <%= paginate @muscles %>
  </div>

</div>
