<div class="container">
  <div class="row">
    <h1>筋肉登録画面</h1>
    <div class="col-xs-4">
      <%= form_for [:admin, @muscle] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= f.fields_for "muscle_images" do |muscle_image_form| %>
      <p><%= muscle_image_form.label :muscle_images, '動作前の筋肉を選択してください' %><span class="input-required">※必須</span></p>
      <%= muscle_image_form.attachment_field :image, class: "previewble" %>
      <div class="preview">
        <%= image_tag 'sample_image.jpeg', :size => '250x250' %>
      </div>
      <% end %>

    </div>

    <div class="col-xs-8">
      <div class="form-group">
        <%= f.label :name, '筋肉名' %><span class="input-required">※必須</span>
        <p><%= f.text_field :name %></p>
      </div>
      <div class="form-group">
        <%= f.label :origin, '起始' %><span class="input-required">※必須</span>
        <p><%= f.text_field :origin, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= f.label :insertion, '停止' %><span class="input-required">※必須</span>
        <p><%= f.text_field :insertion, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= f.label :innervation, '支配神経' %><span class="input-required">※必須</span>
        <p><%= f.text_field :innervation, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= f.label :action, '作用' %><span class="input-required">※必須</span>
        <p><%= f.text_field :action, class: "form-control" %></p>
      </div>
      <div class="form-group">
        <%= f.label :genre_id, '部位' %><span class="input-required">※必須</span>
        <p><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></p>
      </div>
      <div class="form-group">
        <%= f.label :information, '追加情報' %>
        <p><%= f.text_area :information, class: 'form-control input-lg' %></p>
      </div>
        <%= f.submit '作成する', class: "btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>
