<div class="container">
  <div class="row">
    <div class="notice-message">
      <%= flash[:notice] %>
    </div>
    <%= link_to "<<戻る", :back %>
    <h1><%= @muscle.name %></h1>
    <div class="col-xs-4">
      <% @muscle.muscle_images.each.with_index do |image, index| %>
      <h3><%= muscle_action_label(index) %></h3>
      <p><%= attachment_image_tag image, :image, :fill, 250, 250 %></p>
      <% end %>
    </div>
    <div class="col-xs-8">
      <table class="table muscle-show-table">
        <tr>
          <th>支配神経</th>
          <td><%= @muscle.innervation %></td>
        </tr>
        <tr>
          <th>起始</th>
          <td><%= @muscle.origin %></td>
        </tr>
        <tr>
          <th>停止</th>
          <td><%= @muscle.insertion %></td>
        </tr>
        <tr>
          <th>作用</th>
          <td><%= @muscle.action %></td>
        </tr>
        <tr>
          <th>部位</th>
          <td><%= @muscle.genre.name %></td>
        </tr>
        <tr>
          <th>追加情報</th>
          <td><%= @muscle.information %></td>
        </tr>
      </table>
      <div class="text-right">
        <%= link_to "編集する", edit_admin_muscle_path, class: "btn btn-success" %>
        <%= link_to "削除する", admin_muscle_path(@muscle.id), method: :delete, data:{confirm: "この筋肉を削除しますか？"}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>