<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h1>部位編集</h1>
      <%= form_for [:admin, @genre] do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :image, "画像" %><span class="input-required">※必須</span>
      <%= f.attachment_field :image, class: "previewble" %>
      <div class="preview">
        <%= attachment_image_tag @genre, :image, :size => '250x250' %>
      </div>
      <%= f.label :name, "部位名" %><span class="input-required">※必須</span>
      <p><%= f.text_field :name %></p>
      <%= f.submit '変更する', class: "btn btn-success" %>
      <% end %>
    </div>

    <div class="col-xs-9">
      <h1>部位一覧</h1>
      <% @genres.each do |genre| %>
      <div class="genre-card">
        <%= attachment_image_tag genre, :image, :size => '250x250' %>
        <div class="genre-card-info text-center">
          <p class="genre-card-name"><%= "部位：#{genre.name}" %></p>
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
          <%= link_to "削除する", admin_genre_path(genre.id), method: :delete, data:{confirm: "この部位を削除しますか？"}, class: "btn btn-danger" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
