<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'layouts/error_messages', model: @genre %>
      <div class="notice-message">
        <%= flash[:notice] %>
      </div>
      <div class="alert-message">
        <%= flash[:alert] %>
      </div>
      <h1>部位追加</h1>
        <%= form_for [:admin, @genre] do |f| %>
        <%= f.label :image, "画像" %><span class="input-required">※必須</span>
        <%= f.attachment_field :image %>
        <%= image_tag 'sample_image.jpeg', id: "file-preview", :size => '250x250' %>
        <%= f.label :name, "部位名" %><span class="input-required">※必須</span>
        <p><%= f.text_field :name %></p>
        <%= f.submit '作成する', class: "btn btn-success"  %>
        <% end %>
    </div>

    <div class="col-xs-9">
      <h1>部位一覧</h1>
      <% @genres.each do |genre| %>
      <%= link_to admin_muscles_path(genre_id: genre.id) do %>
      <div class="genre-card">
        <%= attachment_image_tag genre, :image, :size => '250x250' %>
        <div class="genre-card-info text-center">
          <p class="genre-card-name"><%= "部位：#{genre.name}" %></p>
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
          <%= link_to "削除する", admin_genre_path(genre.id), method: :delete, data:{confirm: "この部位を削除しますか？"}, class: "btn btn-danger" %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
