<div class="container">
  <div class="row">
    <div>
      <%= link_to "<<戻る", :back %>
    </div>
    <div class="search-form-content text-right">
      <%= form_tag(search_muscles_path, :method => 'get' ) do %>
        <%= text_field_tag :search, '', placeholder: "筋肉名を入力" %>
        <%= submit_tag '検索する', :name => nil, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="heading-title text-center">
      <h1 class="heading-style">筋肉一覧</h1>
      <h3>Muscle List</h3>
    </div>
  </div>
  <table class="table muscle-index-table">
    <thead>
      <tr>
        <th>筋肉名</th>
        <th>起始</th>
        <th>停止</th>
        <th>支配神経</th>
        <th>作用</th>
        <th>部位</th>
      </tr>
    </thead>
    <tbody>
      <% @muscles.each do |muscle| %>
        <tr>
          <td><%= link_to muscle.name, muscle_path(muscle.id) %></td>
          <td><%= muscle.origin %></td>
          <td><%= muscle.insertion %></td>
          <td><%= muscle.innervation %></td>
          <td><%= muscle.action %></td>
          <td><%= muscle.genre.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>