<div class="container">
  <div class="row">
    <div>
      <%= link_to "←戻る", :back, class: "btn btn-success" %>
    </div>
    <div class="col-xs-4">
      <h2>筋肉一覧</h2>
    </div>
    <div class="col-xs-offset-5 col-xs-3">
      <%= form_tag(search_muscles_path, :method => 'get' ) do %>
      <%= text_field_tag :search, '', placeholder: "筋肉名を入力" %>
      <%= submit_tag '検索する', :name => nil, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <% if @muscles.empty? %>
    <h3>条件に合う筋肉が見つかりませんでした</h3>
  <% end %>
    <table class="table muscle-index-table">
      <thead>
        <tr>
          <th>筋肉名</th>
          <th>起始</th>
          <th>停止</th>
          <th>支配神経</th>
          <th>作用</th>
          <th>部位</th>
          <th>追加情報</th>
        </tr>
      </thead>
      <tbody>
        <% @muscles.each do |muscle| %>
        <tr>
          <td><%= link_to muscle.name, muscle_path(muscle.id) %></td>
          <td><%= muscle.origin %></td>
          <td><%= muscle.insertion %></td>
          <td><%= muscle.innervation %></td>
          <td><%= muscle.action %></td>
          <td><%= muscle.genre.name %></td>
          <td><%= muscle.information %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>