<div class="container">
  <div class="row">
    <div>
      <%= link_to "<<戻る", :back %>
    </div>
    <div class="text-center">
      <h1 class="note-muscle-name"><%= @muscle.name %></h1>
      <% @muscle.muscle_images.each.with_index do |image,index| %>
      <div class="muscle-aciton-card">
        <h4><%= muscle_action_label(index) %></h4>
        <%= attachment_image_tag image, :image, :fill, 250, 250 %>
      </div>
      <% end %>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
      <table class="table muscle-show-table">
        <tr>
          <th>起始</th>
          <td><%= @muscle.origin %></td>
        </tr>
        <tr>
          <th>停止</th>
          <td><%= @muscle.insertion %></td>
        </tr>
        <tr>
          <th>支配神経</th>
          <td><%= @muscle.innervation %></td>
        </tr>
        <tr>
          <th>作用</th>
          <td><%= @muscle.action %></td>
        </tr>
        <tr>
          <th>部位</th>
          <td><%= @muscle.genre.name %></td>
        </tr>
        <tr>
          <th>追加情報</th>
          <td><%= @muscle.information %></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h2>ノートを書く</h2>
        <%= form_for @note do |f| %>
        <div class="form-group">
          <%= f.label :tile, 'タイトル' %><span class="input-required">※必須</span>
          <%= f.text_field :title, class: "form-control note-title-form" %>
        </div>
        <div class="form-group">
          <%= f.label :name, '筋肉名を入力' %><span class="input-required">※必須</span>
          <%= f.text_field :name, class: "form-control note-title-form" %>
        </div>
        <div class="form-group">
          <%= f.label :body, '内容' %><span>
          （語呂合わせや動作についてまとめましょう）</span>
          <%= f.text_area :body, 'data-provider': :summernote %>
        </div>
        <div class="btn-area text-right">
          <%= f.submit '作成する', class: "btn btn-success" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
