<!DOCTYPE html>
<html>
<head>
  <title>study-muscle</title>
  <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= image_tag '728176.jpg', :size => '50x60' %>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarEexample1">
        <ul class="nav navbar-nav">
        <% if admin_signed_in? %>
          <li><%= link_to "TOP", homes_top_path %></li>
          <li><%= link_to "部位一覧", admin_genres_path %></li>
          <li><%= link_to "筋肉一覧", admin_muscles_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_admin_session_path %></li>
          <li><%= link_to "TOP", homes_top_path %></li>
        <% end %>
      </ul>
      </div>
      </div>
    </nav>
  </header><!-- /header -->
  <%= yield %>
</body>
</html>